  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid pl-2 mt-3">
      <div class="d-flex align-items-center">
        <%= link_to home_path, class: "navbar-brand d-flex align-items-center" do %>
          <i class="fa-sharp fa-solid fa-horse-head fa-xl" style="color: #7d2ae8"></i>
          <h4 class="title mb-0">PONYPULSE</h4>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-4">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Discover our ponies", ponies_path(@ponies), class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Add a new pony", new_pony_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= image_tag "https://avatars.githubusercontent.com/u/147346922?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My profile", profile_path(current_user), class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to "Discover our ponies", ponies_path(@ponies), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link btn-purple" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
