<div id="home-hero" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("homepage-hero.jpg") %>">
  <div class="container">
  <div id="half-hero">
      <div class="row">
        <h1 class="h1">Rent beautiful ponies for your events</h1>
      </div>
      <div class="row">
        <p>Live your best life thanks to our ponies : ride, mow or just enjoy the warmth!</p>
      </div>
      <div class="row">
        <%= link_to "Choose your pony", ponies_path(@ponies), class: "btn-purple" %>
      </div>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container">
  <h2 class="h2 mt-3">Professionnal service</h2>
    <div class="row">
      <div class="col-4 p-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Meet the happiest ponies</h5>
            <p class="card-text">All our ponies live beautiful lives, their owners dedicate themselves to ensuring they have the best environnement to thrive!</p>
          </div>
        </div>
      </div>
      <div class="col-4 p-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">The right pony for your moment</h5>
            <p class="card-text">For a memorable birthday, to help during a difficult time or just to lighten the load : we have the right pony for you.</p>
          </div>
        </div>
      </div>
        <div class="col-4 p-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Money back guarantee</h5>
            <p class="card-text">Your satisfaction is paramount to us : if for whatever reason you're not satisfied with your pony rental, we'll give you back your money</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container">
    <h2 class="h2">Make great memories</h2>
    <div class="d-flex justify-content-center">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="<%= image_path("carousel-home-1.jpeg") %>" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="<%= image_path("carousel-home-2.jpeg") %>" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="<%= image_path("carousel-home-3.jpeg") %>" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  </div>
  </div>
</div>
<div class="bg-light">
  <div class="container p-3">
  <h2 class="h2">Pony riders & owners love us</h2>
    <div class="card mt-3 mb-3 p-3">
      <h5 class="card-title">⭐️⭐️⭐️⭐️⭐️ I'm a happy father</h5>
      <p class="card-text">My daughter absolultely loved her time with Myrtille, everything went smoothly from the reception to the end. Loved every second of my pony rental, thanks Pony Pulse !</p>
    </div>
    <div class="card mt-3 mb-3 p-3">
      <h5 class="card-title">⭐️⭐️⭐️⭐️⭐️ Jean-Michel loves ponies</h5>
      <p class="card-text">After attending Le Wagon's bootcamp, I really needed to take a break and reconnect with nature. Thanks to Pony Pulse, and especially to Pierre who helped us get set up.</p>
    </div>
    <div class="card mt-3 mb-3 p-3">
      <h5 class="card-title">⭐️⭐️⭐️⭐️⭐️ Finally my pony brings home some cash</h5>
      <p class="card-text">It's been 10 years since I took charge of Max, my shetland pony, and in that time I've spent north of 100k$ just keeping it alive ! With Pony Pulse that lazy bastard cand finally pay some money back.</p>
    </div>
  </div>
</div>
