<div id="index-hero" class="cover mb-4 d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("homepage-hero.jpg") %>">
  <div class="text-center text-white">
    <h1 class="title-white">Our ponies</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="container-cards col-md-6 p-0">
          <% @ponies.each do |pony| %>
            <div class="card-shadow">
              <%= cl_image_tag(pony.photos.first.key, class: "img-rounded", alt: "#{pony.name} Image") %>
              <div class="card-body">
                <h5 class="card-title mb-2"> <b><%= pony.name %></b></h5>
                <p class="card-text mb-2"><%= pony.purpose %></p>
                <p class="card-text"><%= pony.price_per_day %> <i class="fa-solid fa-dollar-sign"></i></p>
                <%= link_to "More info", pony_path(pony), class: "btn-purple ml-auto" %>
              </div>
            </div>
          <% end %>

    </div>

    <div class="col-md-6">
      <div class="">
        <div class="card-body">
        <div style="height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>
