<div class="container mb-3">
<div class="mt-3">
  <%= simple_form_for @pony do |f| %>
<div class="row mb-3">
        <div class="col-md-3">
          <i class="fas fa-horse input-icon"></i>
          <%= f.input :name, label: false, input_html: { placeholder: 'Name' } %>
        </div>
        <div class="col-md-3">
          <i class="fas fa-venus-mars input-icon"></i>
          <%= f.input :sex, collection: Pony::SEX, label: false, input_html: { placeholder: 'Sex' } %>
        </div>
        <div class="col-md-3">
          <i class="fas fa-flag"></i>
          <%= f.input :race, collection: Pony::RACES, label: false, input_html: { placeholder: 'Race' } %>
        </div>
        <div class="col-md-3">
          <i class="fas fa-paint-brush"></i>
          <%= f.input :coat, collection: Pony::COAT, label: false, input_html: { placeholder: 'Coat' } %>

        </div>
      </div>

      <!-- Ligne 2 -->
      <div class="row mb-3">
        <div class="col-md-4">
          <i class="fas fa-calendar-alt input-icon"></i>
          <%= f.input :birth_date, as: :string, input_html: { data: { controller: "datepicker" }, placeholder: 'Birthdate' }, label: false %>
        </div>
        <div class="col-md-4">
          <i class="fas fa-bullseye input-icon"></i>
          <%= f.input :purpose, collection: Pony::PURPOSES, label: false, input_html: { placeholder: 'Purpose' } %>
        </div>
        <div class="col-md-4">
          <i class="fas fa-dollar-sign input-icon"></i>
          <%= f.input :price_per_day, label: false, input_html: { placeholder: 'Price' } %>

        </div>
      </div>

      <!-- Ligne 3 -->
      <div class="row mb-3">
        <div class="col-md-6">
          <i class="fas fa-map-marker-alt input-icon"></i>
          <%= f.input :location, input_html: { data: { address_autocomplete_target: "location" }, class: "d-none" }, wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } }, label: false %>
        </div>
        <div class="col-md-6">
          <i class="fas fa-camera input-icon"></i>
          <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false %>
        </div>
      </div>

      <!-- Ligne 4 -->
      <div class="row mb-3">
        <div class="col-md-12">
          <i class="fas fa-file-alt input-icon"></i>
          <%= f.input :description, label: false, input_html: { placeholder: 'Description' } %>
        </div>
      </div>

      <%= f.button :submit, "Register my pony", class: "btn btn-purple" %>
    <% end %>
</div>
</div>
