<div id="index-hero" class="cover mb-4 d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("homepage-hero.jpg") %>">
  <div class="text-center text-white">
    <h1 class="title-white">Add your pony</h1>
    <h5>Bring joy to riders and showcase your pony's charm by registering you beloved pony</h5>
  </div>
</div>

<div class="container mb-3">
<div class="row justify-content-center">
<div class="col-12 col-lg-6">
  <%= simple_form_for @pony do |f| %>
      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.input :name, label: "ðŸ´ Name" %>
        </div>
        <div class="col-md-3">
          <%= f.input :sex, collection: Pony::SEX, label: "âš¤ Sex" %>
        </div>
        <div class="col-md-3">
          <%= f.input :race, collection: Pony::RACES, label: "ðŸ§¬ Race" %>
        </div>
        <div class="col-md-3">
          <%= f.input :coat, collection: Pony::COAT, label: "ðŸ–Œï¸ Coat" %>

        </div>
      </div>

      <!-- Ligne 2 -->
      <div class="row mb-3">
        <div class="col-md-4">
          <%= f.input :birth_date, as: :string, input_html: { data: { controller: "datepicker" } }, label: "ðŸŽ‚ Birthdate" %>
        </div>
        <div class="col-md-4">
          <%= f.input :purpose, collection: Pony::PURPOSES, label: "ðŸŽ¯ Purpose" %>
        </div>
        <div class="col-md-4">
          <%= f.input :price_per_day, label: "ðŸ’° Price per day" %>

        </div>
      </div>

      <!-- Ligne 3 -->
      <div class="row mb-3">
        <div class="col-md-6 mw-50">
          <%= f.input :location, input_html: { data: { address_autocomplete_target: "location" }, class: "d-none" }, wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } }, label: "ðŸ—ºï¸ Location" %>
        </div>
        <div class="col-md-6 mw-50">
          <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "ðŸ“¸ Photos" %>
        </div>
      </div>

      <!-- Ligne 4 -->
      <div class="row mb-3">
        <div class="col-md-12">
          <%= f.input :description, label: "âœï¸ Description", input_html: { placeholder: 'Please describe how nice your pony is' } %>
        </div>
      </div>

      <%= f.button :submit, "Register my pony", class: "btn btn-purple" %>
    <% end %>
</div>
</div>
</div>
