<div class="container mb-3">
<div class="mt-3">
  <%= simple_form_for @pony do |f| %>
    <%= f.input :name %>
    <%= f.input :sex, collection: Pony::SEX %>
    <%= f.input :race, collection: Pony::RACES %>
    <%= f.input :birth_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :coat, collection: Pony::COAT %>
    <%= f.input :purpose, collection: Pony::PURPOSES %>
    <%= f.input :location,
      input_html: {data: {address_autocomplete_target: "location"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%= f.input :price_per_day %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, "Register my pony", class: "btn btn-purple" %>
  <% end %>
</div>
</div>
