<div class="container">
  <div class="row mt-3">
    <div class="col-8">
      <div class="">
        <div class="p-3">
          <%= cl_image_tag(@pony.photos.first.key, class: "card-img-top", alt: "#{@pony.name} Image") %>
        </div>
      </div>
    </div>
    <div class="col-4 mt-3">
      <div class="">
      <h1>Meet <%= @pony.name %></h1>
      <p>
          for <%= @pony.purpose %><br />
          only <strong><%= @pony.price_per_day %>$</strong> per day
      </p>
      <%= simple_form_for [@pony, @booking] do |f| %>
        <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } }  %>
        <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } }  %>
        <%= f.button :submit, "Book this pony", class: "btn btn-purple" %>
      <% end %>
      </div>
    </div>
  </div>
    <div class="p-3">
      <h2>Description :</h2>
      <p><%= @pony.description %></p>
    </div>
    <div class="p-3">
      <h2>Location :</h2>
      <div style="width: 100%; height: 200px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <p><%= @pony.location %></p>
    </div>
          <div class="p-3">
        <h2>Characteristics : </h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Race:</strong> <%= @pony.race %></li>
          <li class="list-group-item"><strong>Coat:</strong> <%= @pony.coat %></li>
          <li class="list-group-item"><strong>Sex:</strong> <%= @pony.sex %></li>
          <li class="list-group-item"><strong>Age:</strong> <%= ((Time.zone.now - @pony.birth_date.to_time) / 1.year.seconds).floor %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
