<%# <div class="container"> %>
  <div class="card-trip">
    <div class="row">
      <div class="col-6">
      <img class="image" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      </div>
      <div class="images col-6">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="width: 150px; height:150px" />
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="width: 150px; height:150px"  />
      </div>
    </div>
    <div class="card-trip-infos">
      <div>
        <h2><%= @pony.name %></h2>
        <p><%= @pony.race %></p>
      </div>
      <h2 class="card-trip-pricing"><%= @pony.price_per_day %>$ per day</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
        <i class="fa-solid fa-venus-mars"></i>  Gender: <%=  @pony.sex%>
        <i class="fa-solid fa-cake-candles"></i>birth date: <%=  @pony.birth_date%>
        <i class="fa-solid fa-palette"></i>Coat: <%= @pony.coat %>
        <i class="fa-solid fa-puzzle-piece"></i>Purpose: <%= @pony.purpose %>

        </div>
      </div>
    </div>
  </div>
<%# </div> %>
