<div class="container">
  <div class="card-trip">
    <div class="row d-flex justify-content-center">
      <%# <div class="col-9">
        <%= cl_image_tag(@pony.photos.first.key, class: "card-img-top", alt: "#{@pony.name} Image") %>
      <%# </div> %>
    </div>
    <div class="card-trip-infos d-flex justify-content-around mb-4">
      <div>
        <h2><%= @pony.name %></h2>
        <p><%= @pony.race %></p>
      </div>
      <div>
        <h2 class="card-trip-pricing"><%= @pony.price_per_day %>$ per day</h2>
      </div>
    </div>
      <div class="row">
        <div class="col-7">
          <div class="cards-map mb-4">
            <div class="card-map">
              <%= cl_image_tag(@pony.photos.first.key, class: "card-img-top", alt: "#{@pony.name} Image") %>
            </div>
          </div>
        </div>
        <div class="col-3">
          <h2>Booking</h2>
          <%= simple_form_for [@pony, @booking] do |f| %>
            <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } }  %>
            <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } }  %>
            <%= f.button :submit, "Book this pony", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-7">
          <div class="cards">
            <div class="card d-flex justify-content-center">
              <i class="fa-solid fa-venus-mars"></i>  <p>Gender: <%=  @pony.sex%></p>
            </div>
            <div class="card">
              <i class="fa-solid fa-cake-candles"></i><p>Birth date: <%=  @pony.birth_date%></p>
            </div>
            <div class="card">
              <i class="fa-solid fa-palette"></i><p>Coat: <%= @pony.coat %></p>
            </div>
            <div class="card">
              <i class="fa-solid fa-puzzle-piece"></i><p>Purpose: <%= @pony.purpose %></p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
